a {
    text-decoration: none;
}

#title_holder{
    display: flex;
    width: 25vw;
    width: 100%;
    border-bottom: solid thin rgb(136, 136, 161);
}

.title{
    justify-self: center;
    width: 20vw;
    align-self: center;
    font-weight: bold;
    margin-left: 14vw;
}

#contacts_page {
    background-color: #F4F7FA;
    /* height: 80vh; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#contact__navbar{
    display: flex;
    position: relative;
    background-color: white;
    height:5vw;
}

.name_username_container{
    width: 25vw;
}

.contacts_container {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    border: solid thin rgba(204, 203, 203, 0.575);
    border-radius: 10px;
    box-sizing: border-box;
    align-self: center;
    margin: 5vh;
}

.req_contacts_container{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 20vw;
    margin-bottom: 5vh;
}



.profile__container {
    display: flex;
    width: 55vw;
    box-sizing: border-box;
    border: solid white 1vw;
    background-color: white;
    border-top: thin solid rgba(128, 128, 128, 0.199);
}

.signle_contact{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    width: inherit;
    padding: 2vw;
    border-bottom: gray;
}

#profile_pic {
    height: 7vw;
    width: 7vw;
    margin: 1vw;
    border-radius: 80px;
    justify-self: flex-start;
    align-self: center;
    box-shadow: 1px 1px 1px #aaaaaa;
}

.user_name {
    color: gray;
    margin-left: 2vw;
}

.real_name {
    margin-top: 3vw;
    margin-left: 1vw;
}
.unfriend_button{
    align-self: flex-end;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    background-color: #f5ada4;
    height: 3.5vh;
    border-radius: 2px;
    border: none;
    cursor:pointer;
    align-self: center;
}

.unfriend_button:hover{
    color: #169bd7;
}

.friend_req_button{
    position: relative;
    display: inline-block;
    border-radius: 2px;
    height: 30px;
    width: 120px;
    align-self: flex-end;
    background-color: Transparent;
    font-size: bold;
    border: thin solid rgba(128, 128, 128, 0.432);
    background-color: #cef0ff;
    cursor:pointer;
    align-self: center;
    margin-left: 10vw;
}

.friend_req_button:hover{
    background-color: #169bd7;
}

.friend_req_button .badge {
    position: absolute;
    top: -12px;
    right: -12px;
    padding: 3px 7px;
    border-radius: 50%;
    background: red;
    color: white;
}

.friend_req_button .notbadge {
    position: absolute;
    top: -18px;
    right: -10px;
    padding: 3px 7px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0);
}

.contact_request_container{
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}



.req_contacts_container {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 15px 20px gray;
    box-sizing: border-box;
    align-self: center;
    border-bottom: thin solid gray;
}

.req_profile__container {
    display: flex;
    width: inherit;
    box-sizing: border-box;
    border: solid white 1vw;
    border-radius: 15px;
    background-color: white;
    border-bottom: thin solid rgba(128, 128, 128, 0.377);
}

.req_signle_contact{
    display: flex;
    flex-direction: row;
    width: inherit;
    border-bottom: thin solid rgba(128, 128, 128, 0.089);
}

#req_profile_pic {
    height: 5vw;
    width: 5vw;
    margin: 0.5vw;
    border-radius: 15vw;
    justify-self: flex-start;
    align-self: center;
    box-shadow: 1px 1px 1px #aaaaaa;
}


.req_user_name {
    color: gray;
    font-size: small;
    margin-left: 2vw;
}

.req_real_name {
    font-size: small;
    margin-top: 3vw;
    margin-left: 1vw;
}


.accept_button{
    width: 70px;
    height: auto;
    overflow: unset;
    background-color: transparent;
    color: white;
    background-color: #169ad7a6;
    border-radius: 5px;
    border-style: none;
    margin-top: 3vh;
    margin-right: 20px;
    margin-bottom: 3vh;
}

.accept_button:hover{
    background-color: #6db6d8a6;
    color: white;
}

.search__bar{
    margin-top: 0%;
    width: 95vw;
}

.search__input{
    width: 70vw;
    height: 7px;
    border: thin solid black;
}