/* TODO Add site wide styles */
/* @media screen and (min-width: 600px) {
    body {
      height: 100vh;
      width: 100vw;
    }
    p {
        max-height: 30px;
        width: 70px;
      }
} */

* {
    font-family: PayPalSansSmall-Regular,sans-serif;
    font-weight: 300;
}
nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10vh;
    width: 100%;
    font-size: 1.4vw;
    background-image: linear-gradient(to right, #169bd7 , #0B67B4);
}

.navbar {
    display: flex;
    list-style-type: none;
    float: right;
    margin-left: 10px;
    width: max-content;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
}

.nav-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 15px;
}

#navbar__logo{
    display: flex;
    width: 1vh;
    height: 5vh;
    justify-self: center;
    align-self: center;
}

.nav-logo a:active{
    background:none !important;
}

.navbar__link a:visited {   
    color: #fff;
}

.navbar__link a { 
    position: relative;
    transition: 900ms;
    font-size: 1.1vw;
    font-weight: 300;
    animation: ease-in-out;   
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    margin: 10vw 7vw;
    cursor: pointer;
    line-height: 80px;
}

.navbar__link a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #161010;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.navbar__link a:hover::before {
    transform: scaleX(1);
}

.navbar__button button {
    outline: none;
    margin: 4vh;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 300;
    border: none;
    background: none;
    cursor: pointer;
}

.navbar__button button:hover {
    background-color: #f3f3f3;
    color: #0a95d6;
}

.errors__class{
    margin-top: 5vh;
    color: red;
}

.logged_in_profile{
    height: 3vw;
    width: 3vw;
    margin: 1vw;
    border-radius: 80px;
    justify-self: center;
    align-self: center;
}
/* Wallet page selector side */


