.form-container{
    display: flex;
    justify-content: center;
}
.login_page{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-size: cover;
    background-image: url('https://cdn.cutshort.io/public/companies/5d495ba6e13c510d088f4840/cover-1565146205476-983b63592a42295d638b4b3120df9cc8.gif');
}

input {
    width: 200px;
    padding: 1vh 1vh;
    margin: 2%;
    float: center;
    flex-wrap: wrap;
}

.login_btn{
    margin: 1%;
    background-color: #159CD7;
    height: 40px;
    width: 25vw;
    border-radius: 5px;
    border-style: none;
}

.signup_btn{
    margin: 1%;
    background-color: #E1E7EB;
    height: 40px;
    width: 25vw;
    border-radius: 5px;
    border-style: none;
}

.signup_btn:hover{

    background-color: #b5b9bb;
}

.login_btn:hover{
    background-color: #0D68B4;
}

.login__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10vh 40vh 40vh;
    width: 45vw;
    height: 60vh;
    border-radius: 5px;
}

.field_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0.5vh;
}

.login_label{
    color: white;
    margin: 10px;
}

.login_input{
    justify-self: center;
    height: 5vh;
    width: 30vw;
    border-radius: 5px;
    border-style: none;
    color: black;
}

.Title_text{
    align-self: center;
    font-weight: bolder;
    margin: 5vw;
    /* font-size: larger; */
    color: white;
}
