.form-container{
    display: flex;
    height: 100vh;
    justify-content: center;
}
.signup-page{
    width: 100vw;
    height: 90vh;
    display: flex;
    background: url('https://user-images.githubusercontent.com/73211975/128579949-f12b031b-60ef-4488-b5ac-c3188ab3afa4.jpeg');
    background-color: #4983e0;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content: center;
    align-content: center;
}

.signup_input{
    color: white;
}

input {
    justify-self: center;
    height: 4vh;
    width: 30vw;
    border-radius: 5px;
    border-style: none;
    color: black;
}
.signup-btn{
    margin: 5%;
    background-color: #159CD7;
    height: 40px;
    width: 50vw;
    border-radius: 5px;
    border-style: none;
}

.signup-btn:hover{
    background-color: #0D68B4;
}