/* Wallet page selector side*/

.wallet-page {
    display: flex;
    box-sizing: border-box;
    border-radius: 10px;
    height: fit-content;
}

.wallet-leftbar {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F4F7FA;
    width: 25vw;
    height: auto;
}

.wallet_leftbar--logo{
    height: 5vw;
    width: 5vw;
    margin-left: 10vw;
    border-bottom: solid black;
    box-sizing: border-box;
}

.wallet_leftbar--coinholder{
    display: flex;
    margin-bottom: 40vh;
    box-sizing: border-box;
    list-style-type: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 0vw;
}

.wallet_leftbar--coinholder > .wallet_leftbar--coinselector{
    height: 5vw;
    width: inherit;
    margin: 10px;
    border: #020202;
    align-items: stretch;
    box-sizing: border-box;
    list-style-position:inside;
    border-bottom: 1px dotted rgb(134, 132, 132);
    padding: 15px;
}

/* balance and information side */
.wallet-rightbar{
    display: flex;
    width: 100%;
    position: relative;
    background-color: #F4F7FA;
    justify-content: center;
}

.currentstats{
    display: flex;
    justify-content: center;
    position: absolute;
    margin-right: 16.8vw;
    font-size:20px;
    width: 55vw;
    height: 60vw;
    background-color: #FFFFFF;
}

.currcoin__logo{
    margin-top: 2vw;
    position: absolute;
    box-sizing: border-box;
    height: 8vw;
    width: auto;
    z-index: 10;
    background-color: white;
}

.currcoin__balance{
    position: absolute;
    text-align: center;
    box-sizing: border-box;
    /* align-self: center; */
    height: 5vh;
    width: auto;
    justify-self: center;
    /* margin-top: 10vw; */
    margin: 5vw 0vw 8vw 0vw;
    padding: 5vw;
}


.amount{
    font-weight: 2;
    margin-bottom: 4vh;
}

.extras{
    font-weight: 0;
    color: gray;
    border-bottom: thin dotted;
}