/* Wallet page selector side*/

.wallet-page {
    display: flex;
    box-sizing: border-box;
    border-radius: 10px;
    height: 90vh;
}

.wallet-leftbar {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F4F7FA;
    width: 25vw;
    height: auto;
}

.wallet_leftbar--logo{
    width: 5vw;
    height: auto;
    border-bottom: solid black;
    box-sizing: border-box;
}

.wallet_leftbar--coinholder{
    display: flex;
    margin-bottom: 40vh;
    box-sizing: border-box;
    list-style-type: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0vw;
}

.wallet_leftbar--coinholder > .wallet_leftbar--coinselector{
    box-sizing: border-box;
    height: 76px;
    width: auto;
    margin: 10px;
    margin-left: 34px;
    border: #020202;
    align-items: stretch;
    box-sizing: border-box;
    list-style-position:inside;

    box-shadow: 1px 1px 10px #4745453a;
}

.wallet_leftbar--coinholder > .wallet_leftbar--coinselector:hover{
    background-color:#61a7c7a1;
}

.wallet_leftbar--coinholder > .wallet_leftbar--coinselector:focus{
    border-left: 10px solid #159AD6
}

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent; 
    border-bottom: 20px solid transparent; /* 40px height (20+20) */
    border-left: 20px solid green;
    position:absolute;
    right:-20px;
}
  

/* balance and information side */
.wallet-rightbar{
    display: flex;
    width: 100%;
    position: relative;
    background-color: #f4f7fa;
    justify-content: center;
}

.currentstats{
    display: flex;
    justify-content: center;
    position: absolute;
    margin-right: 16.8vw;
    font-size:20px;
    width: 55vw;
    height: 60vw;
    background-color: #FFFFFF;
}

.currcoin__logo{
    margin-top: 2vw;
    position: absolute;
    box-sizing: border-box;
    height: 100px;
    width: auto;
    z-index: 10;
    background-color: white;
}

.currcoin__balance{
    position: absolute;
    text-align: center;
    box-sizing: border-box;
    /* align-self: center; */
    height: 5vh;
    width: auto;
    justify-self: center;
    /* margin-top: 10vw; */
    margin: 8vw 0vw 8vw 0vw;
    font-weight: bolder;
    padding: 5vw;
}


.amount{
    box-sizing: border-box;
    margin: 40px;
    padding: 10px;
    font-weight: 2;
    margin-bottom: 4vh;
}

.extras{
    font-weight: 0;
    width: 35vw;
    margin: 20px;
    padding: 10px;
    color: gray;
    border-bottom: thin dotted;
}