.wallet_container{
    position: relative;
    box-sizing: border-box;
    width: auto;
    height: 25vh;
    overflow: hidden;
    padding-bottom: 55vh;
    zoom: 70%;
    padding-left: 5vw;
    border: thin solid rgba(141, 134, 134, 0.281);
    border-radius: 15px;
}

.activity_container{
    box-sizing: border-box;
    position: relative;
    width: auto;
    height: 55vh;
    overflow: scroll;
    padding-left: 5vw;
    zoom: 40%;
    overflow-x: hidden;
    border: thin solid rgba(214, 61, 61, 0.281);
    border-radius: 15px;
}

.contacts_container_glance{
    box-sizing: border-box;
    position: relative;
    width: auto;
    height: 55vh;
    overflow: scroll;
    padding-left: 5vw;
    zoom: 70%;
    border-style: none;
    overflow-x: hidden;
    border: thin solid rgba(214, 61, 61, 0.281);
    border-radius: 15px;
}

/* #wallet{
    width: 10vw;
    height: inherit;
    padding: 50px;
    margin: 20px;
}

#activity{
    width: 10vw;
    height: inherit;
}

#contacts{
    width: 100vw;
    height: inherit;
} */

.home_page{
    display: flex;
    box-sizing: border-box;
    margin-top: 0vh;
    margin-left: 12vw;
    justify-content: center;
    position: relative;
    width: 80vw;
    margin-bottom: 10vh;
    padding: 5vh;
}

.left_column{
    width: 50%;
    align-items: center;
    justify-content: center;
}

.right_column{
    width: 50%;
    align-items: center;
    justify-content: center;
}