.wallet_container{
    position: relative;
    box-sizing: border-box;
    width: auto;
    height: 25vh;
    overflow: hidden;
    padding-top: 45vh;
    /* zoom: 70%; */
    /* padding-left: 5vw; */
    border: thin solid #8d868648;
    border-radius: 15px;
}

.activity_container{
    box-sizing: border-box;
    position: relative;
    width: auto;
    height: 55vh;
    overflow: scroll;
    padding-left: 5vw;
    zoom: 40%;
    overflow-x: hidden;
    border: thin solid rgba(214, 61, 61, 0.281);
    border-radius: 15px;
}

.contacts_container_glance{
    box-sizing: border-box;
    position: relative;
    width: auto;
    height: 55vh;
    overflow: scroll;
    padding-left: 5vw;
    zoom: 70%;
    border-style: none;
    overflow-x: hidden;
    border: thin solid rgba(214, 61, 61, 0.281);
    border-radius: 15px;
}

/* #wallet{
    width: 10vw;
    height: inherit;
    padding: 50px;
    margin: 20px;
}

#activity{
    width: 10vw;
    height: inherit;
}

#contacts{
    width: 100vw;
    height: inherit;
} */

.main_bar{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    margin: 10px;
    padding: 20px;
    position: relative;
    background-color: #F4F7FA;
    justify-content: center;
}

.home_page{
    display: flex;
    box-sizing: border-box;
    border-radius: 10px;
    height: fit-content;
}

.side_bar{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    /* justify-content: flex-start; */
    background-color: #4686c5;
    border-right: thin solid black;
    width: 25vw;
    height: 90vh;
}

.home_navbar_items{
    box-sizing: border-box;
    padding: 20px;
    margin: 5px 1px 1px;
    background-color: #F4F7FA;
    list-style-type: none;
}