.splash-page{
    display: flex;
    margin-left: 5vw;
    justify-content: center;
    position: relative;
    width: 80vw;
}

.left_column{
    width: 50%;
    align-items: center;
    justify-content: center;
}

.right_column{
    width: 50%;
    align-items: center;
    justify-content: center;
}

picture{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

picture > img{
    height: 40vh;
    width: 40vh;
    padding: 5vw;

}

picture > p{
    font-weight: 0;
    /* margin-top: 10vh; */
    width: 30vw;
    font-size: larger;
    margin-left: 5vw;
    margin-right: 8vw;
    text-align: center;
}

.multi-image-container{
    position: relative;
    height: 50vh;
    /* width: 45vw; */
}

.multi-image-container > img{
    position: absolute;
}

.top_pic{
    height: 90%;
    border-radius: 10px;
    margin: 10px 15px;
    box-shadow: 5px 5px 10px gray;
}

.buttom_pic{
    height: 8vh;
    width: auto;
    margin-right: 100px;
}

.buttom_pic:hover{
    margin-left: 40px;
    transition: 999ms;
}