.transaction__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F4F7FA;
    font-weight: 800px;
}
.send-crypto{
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    margin: 2vw 2vh 2vw;
    width: 40vw;
    min-width: 35vw;
    min-height: 80vh;
    max-height: 90vh;
    flex-direction: column;
    background-color: white;
    border: thin solid rgb(109, 98, 98);
    border-radius: 10px;
}

.user__name{
    justify-self: center;
    align-self: center;
    margin-right: 10px;
    margin-right: 40px;
    border: thin solid rgb(109, 98, 98);
    margin: 1vw 1vh 0.5vh vw;
    height: 2vw;
}

#seach_profile_pic{
    width: 3vw;
    height: 3vw;
    border-radius: 50px;
    margin-right: 5px;
}

.search_result{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* justify-self: center; */
    /* align-self: center; */
    border-style: none;
    list-style-type: none;
    margin: 1px 0px 0px 0px;
    width: 20vw;
    background-color: rgba(132, 167, 184, 0.226);
    border-radius: 15px;
}

.search_result:hover{
    background-color: rgba(45, 52, 56, 0.5);
}

.search_result-holder{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    justify-content: center;
    /* border: thin solid rgba(128, 128, 128, 0.349); */
    border-radius: 15px;
    padding: 1%;
    margin-top: 0%;
    z-index: 2;
}

.search_result-holder-none{
    display: none;
}

.fund__input{
    border: thin solid rgb(109, 98, 98);
    border-radius: 5px;
    background-color: #b1dff565;
    margin-top: 1vw;
    margin-bottom: 0%;
    height: 5vh;
}

.fund__input:hover{
    background-color: #124d6865;
}

.fund__input:active{
    background-color: #dfdfdfd0;
}

.fund__field{
    margin: 1em;
}