#activity__navbar{
    display: flex;
    justify-content: center;
    position: relative;
    background-color: white;
    height:5vw;
}

.activity_nav_button{
    font-weight: bold;
    background-color: rgb(241, 249, 253);
    border-style: none;
    color: #169bd7;
    width: 10vw;
    margin: 10px;
    padding: 4px;
    border-radius: 20px;
}

.activity_nav_button:hover{
    color: #0f7aac;
    background-color: rgb(201, 230, 245);
}

.parent_page{
    display: flex;
    flex-direction: column;
    background-color: #F4F7FA;
}

.Activity_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vw;
    background-color: #F4F7FA;
}
.Activity__main{
    display : flex;
    box-sizing: border-box;
    /* padding: 8vh; */
    justify-content: center;
    background-color: white;
    width: 50vw;
    height: 34vh;
    border-bottom: thin dotted gray;
    margin-bottom: 1vh;
    overflow: auto;
}

.amount__container{
    width: 30vw;
}

.transaction__container{
    display : flex;
    box-sizing: border-box;
    position: relative;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
    flex-wrap: row wrap;
    height: fit-content;
    min-height: 10rem;
    background-color: white;
    width: 80vw;
    justify-content: flex-start;
}

.transaction_logo{
    align-self: center;
    margin-left: 1vw;
    width: 2vw;
    height: 2vw;
}

.transaction__status{
    justify-self: center;
    color: #169bd7;
    font-weight: 3;
}

.buttons_container{
    margin-top: 9vh;
}

.Activity_button{
    background-color: #169bd7;
    border: none;
    cursor:pointer;
    align-self: center;
    font-weight: bold;
    padding: 1px;
    width: 10vw;
    height: 4vh;
}

.Activity_button:hover{
    background-color:rgba(165, 33, 33, 0.589);
}

.transaction__search_container{
    align-self: flex-start;
    background-color: Transparent;
    font-size: bold;
    border: thin solid gray;
    width: 80%;
    cursor:pointer;
    align-self: center;
    margin-left: 20vw;
}