.parent_page{
    display: flex;
    flex-direction: column;
    background-color: #F4F7FA;
}

.Activity_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vw;
    background-color: #F4F7FA;
}
.Activity__main{
    display : flex;
    box-sizing: border-box;
    justify-content: center;
    background-color: white;
    width: 50vw;
}

.transaction__container{
    display : flex;
    box-sizing: border-box;
    position: relative;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
    flex-wrap: wrap;
    height: 10vw;
    background-color: white;
    border-bottom: dotted gray 0.5px;
    width: 80vw;
    justify-content: flex-start;
}

.transaction_logo{
    width: 2vw;
    height: 2vw;
}

.Activity_button{
    background-color: Transparent;
    border: none;
    cursor:pointer;
    align-self: center;
    font-weight: bold;
}

.Activity_button:hover{
    color: #da2222;
}